.main_login {
    padding: 0px 0px 200px 0px;
    /* border: 1px solid black; */
}
.main_login-container {
    display: flex;
    justify-content: center;
    /* margin-bottom: 100px; */
}

.block_login_container{
    width: 50%;
}
.block_login {
    padding: 0px 0px 0px 60px;
    max-width: 984px;
    width: 100%;
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
    display: flex;
    z-index: 10;
}
.block_login-title {
    margin: 63px 0px 0px 0px ;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
}
.block_login-sub_titel {
    font-weight: 900;
    font-size: 35px;
    line-height: 43px;
    color: rgba(0, 0, 0, 0.7);
    margin: 0px 0px 36px 0px;
}

.login-form_margin:not(:last-child){
    margin: 0px 0px 12px 0px;
}
.login-form_margin:last-child{
    margin: 0px 0px 33px 0px;
}


.block_login-block-input {
    /* box-sizing: border-box; */
    padding: 18px 0px 18px 34px;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    color: rgba(0, 0, 0, 0.5);
    border: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    max-width: 456px;
    width: 100%;
}

.block_login-button {
    margin: 0px 0px 89px 0px;
    
}
.blue_button-little {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: white;
    max-width: 263px;
    width: 100%;
    height: 57px;
    background-color: #005995;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue_button-little:hover{
    transition: 1s; 
    max-width: 260px;
    height: 54px;
    color: #95ECB3;
 }
 .blue_button-little:not(:hover){
     transition: 1s;
 }

.block_login-img_absolute img{
    position: absolute;
    top: 170px ;
    left: 752px;
    z-index: 1;
}
/* main_login конец */